<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-windth, initial-scale=1.0">
    {% block title -%}
    {% if title %}
        <title>Трекер.Времени - {{title}}</title>
    {% else %}
        <title>Трекер.Времени</title>
    {% endif %}
    {% endblock %}
</head>
<body>
{% block content -%}
    {%- block header -%}
    <header class="header">
        <div class="wrapper">
            <div class="header-wrapper">
                <div class="logo">
                    <a class="logo-link" href="/">
                        Трекер.Времени
                    </a>
                </div>
                <div class="menu">
                    <a class="menu-link" href="/">Как это работает?</a>
                </div>
            </div>
        </div>
    </header>
    {% endblock header -%}
    <div class="content">
        {% endblock -%}
    </div>
</body>
</html>